audio_xtts*/

translations/

logs/

job_script

code_switched_*/

mfa_*/

XTTS_audio/

codeswitch_*/

readalong_output/

SALMONN/

translate.py
forced_aligned.py
code_switch_audio.py
code_switch.py
audio_qwen.py